body {
    box-sizing: border-box;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    width: 500px;
    margin: 50px auto;
}

.square {
    border: 1px solid black;
    width: 50px;
    height: 50px;
}